.equipment
  &-block
    display: flex
    align-items: center
    &s
      flex-basis: 50%
    &__image
      flex-basis: 53%
    &__subtitle
      margin-top: 35px
      line-height: 23px
  &-img
    margin-top: 60px
    display: flex
    justify-content: space-between
    &s
      img
        object-fit: cover
        width: 261px
        height: 261px
@media ( max-width: 1200px )
  .equipment
    padding-top: 0
    &-block
      flex-direction: column
      &s
        margin-top: 70px
    &-img
      flex-wrap: wrap
      margin-top: 30px
      &s
        width: auto
        flex-basis: 50%
        margin-top: 30px
        img
          width: 90%
          height: 90%
@media ( max-width: 480px )
  .equipment
    &-img
      margin-top: 0

        
        

  