.hero
  padding-top: 70px
  padding-bottom: 70px
  background: linear-gradient(180deg, #1D1D1D 0%, rgba(29, 29, 29, 0.39) 100%), url('../img/navbar/navbar-image.jpg') center no-repeat
  height: 100vh
  &-block
    padding-top: 200px
    padding-bottom: 200px
    max-width: 560px
    margin: auto
    text-align: center
    span
      +bold
    &__title
      font-size: 20px
    &__name
      margin-top: 28px
      font-size: 50px
    &__subtitle
      margin-top: 40px
      line-height: 22px
  &-navbar
    position: absolute
    width: 100%
    padding: 0 92px 0 92px
    &__block
      display: flex
      align-items: center
      justify-content: space-between
    &__menu
      &-item
        position: relative
        display: inline-block
        &:not(:last-child)
          margin-right: 48px
        color: #fff
        &:hover
          &:after
            content: ''
            z-index: 1
            display: block
            width: 100%
            position: absolute
            bottom: -1px
            height: 2px
            background: #fff
            transition: 0.2s
@media (max-width: 1200px)
  .hero
    height: 100vh
    &-block
      padding-top: 24px
    &-navbar
      &__menu
        &-item
          &:not(:last-child)
            margin-right: 10px
    &-navbar
      padding: 0 40px 0 40px
@media (max-width: 768px)
  .hero
    padding-top: 70px
    padding-bottom: 70px
    &-block
      padding-top: 200px
      padding-bottom: 0
      &__title
        font-size: 18px
      &__name
        font-size: 42px
      &__subtitle
        margin-top: 20px
    &-navbar
      &__block
        justify-content: center
      &__menu
        display: none
@media (max-width: 480px)
  .hero
    &-navbar
      position: initial