.partners
  &-block
    &s
      display: flex
      align-items: center
      justify-content: space-between
      flex-wrap: wrap
    &__company
      align-items: center
      flex-basis: 20.1%
      margin-top: 50px
      &_1
        text-align-last: left
      &_2
        text-align: center
      &_3
        text-align: center
      &_4
        text-align: right
      img
        width: 90%
.slick-track
  display: flex
  align-items: center
svg
  color: red
@media ( max-width: 1200px )
  .partners
    &-block
      &__company
        flex-basis: 50%
@media ( max-width: 1200px )
  .partners
    &-block
      &s
        justify-content: center
@media ( max-width: 768px )
  .partners
    padding-bottom: 0
    &-block
      &__company
        flex-basis: initial
@media ( max-width: 480px )
  .partners
    &-block
      &__company
        img
          margin-top: 20px
          width: 90%